
        #head{
            color:blue;
            text-align:center;
            text-decoration:underline
        }
         #my-name{
            color:green;
            text-align:center;
            font-size:60px
        }
        p{
            font-size:18px;
            background-color:yellow
        }
        img{
            width:100px
        }